# Ignore some static files and directories.
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/music
!/modules/music/*
/themes/*
!/themes/admin_default/css/music.css
!/themes/admin_default/js/music.js
!/themes/admin_default/images/music
!/themes/admin_default/images/music/*
!/themes/admin_default/modules/music
!/themes/admin_default/modules/music/*
!/themes/default/css/music.css
!/themes/default/js/music.js
!/themes/default/images/music
!/themes/default/images/music/*
!/themes/default/modules/music
!/themes/default/modules/music/*
/.project
/vendor/
/.gitattributes
/composer.json
